<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lugares
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lugares</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2 align="center">Monte Alban</h2>
    <h3>Acerca de... </h3>
      <details>
        <summary>Descubra lo más destacado de Oaxaca en un recorrido turístico de día completo.(Click para ver más...) </summary>
          <p>Visite el complejo arqueológico de Monte Albán, fundado en el año 500 a.C., el antiguo convento y templo del siglo XVI, y haga una parada en talleres artesanales locales para ver el proceso de fabricación de figurillas hechas a mano. Aprenda sobre la rica historia y cultura de Oaxaca de la mano de su guía mientras explora.</p>
      </details>
      <p>
        desde<br>
        $900.00 por adulto
      </p>
      <p>
        <ion-icon name="people-outline"></ion-icon>Edades: de 4 a 90, máx. de 11 por grupo<br>
        <ion-icon name="time-outline"></ion-icon>Duración: De 7 a 8 horas<br>
        <ion-icon name="language-outline"></ion-icon>Inglés, español
      </p>
      <details>
        <summary><h4>Que incluye</h4></summary>
          <p>
            <ion-icon name="logo-ionic"></ion-icon>Vehículo con aire acondicionado<br>
            <ion-icon name="logo-ionic"></ion-icon>Guía certificado<br>
            <ion-icon name="logo-ionic"></ion-icon>Salida desde hotel o casa y regreso al mismo. Dentro de la zona marcada.<br>
            <ion-icon name="logo-ionic"></ion-icon>Servicio de Seguridad e Higiene.<br>
            <ion-icon name="logo-ionic"></ion-icon>Ingreso/entrada: Zona Arqueológica de Monte Albán
          </p>
    </details>

    <details>
      <summary><h4>Itinerario</h4></summary>
        <p>
          <details>
            <summary><ion-icon name="triangle-outline"></ion-icon>Comenzaras en...<br> C. Macedonio Alcalá 201 (También te pueden pasar a buscar)</summary>
              <p>
                <ion-icon name="logo-ionic"></ion-icon>Se ofrece servicio de recogida para viajeros. Enviar su ubicación al número de celular de la empresa, para así localizarlos mas rápido.<br>C. Macedonio Alcalá 201, RUTA INDEPENDENCIA, Centro, 68000 Centro, Oax., Mexico
                La oficina esta sobre la calle Macedonio Alcalá o Andador Turístico justo frente al Museo de Arte Contemporáneo de Oaxaca (MACO), entre las calles de Morelos y Murguía.
              </p>
          </details>
          <details>
            <summary><ion-icon name="triangle-outline"></ion-icon>Zona arqueológica de Monte Albán<br> Parada: 2 horas - Entrada incluida</summary>
              <p>
                <ion-icon name="logo-ionic"></ion-icon>Visitaremos la zona arqueológica de Monte Albán, realizando un recorrido en un tiempo promedio de 1.5 a 2 horas con nuestro guía certificado, conoceremos la historia de este lugar y disfrutaremos de la magia y misticismo de estas edificaciones en la cima de la montaña.
              </p>
          </details>
          <details>
            <summary><ion-icon name="triangle-outline"></ion-icon>San Antonio Arrazola<br> Parada: 35 minutos</summary>
              <p>
                <ion-icon name="logo-ionic"></ion-icon>Visitamos con nuestro guía, la casa-taller de un artesano tallador de figuras de madera hoy conocidos como alebrijes, ahí podremos ver desde el proceso de realización de estas figuras artesanales hasta las varias formas de aplicación que durante el proceso de innovación se han logrado
              </p>
          </details>
          <details>
            <summary><ion-icon name="triangle-outline"></ion-icon>Cuilapan de Guerrero<br> Parada: 60 minutos</summary>
              <p>
                <ion-icon name="logo-ionic"></ion-icon>Haremos una parada para comer, en un restaurante con un servicio tipo buffet con alimentos tracionales oaxaqueños.
              </p>
          </details>
          <details>
            <summary><ion-icon name="triangle-outline"></ion-icon>Santo Tomás Jalieza<br> Parada: 40 minutos</summary>
              <p>
                <ion-icon name="logo-ionic"></ion-icon>Visitamos con nuestro guía, la casa - taller de un artesano que trabaja un telar conocido como de cadera o de cintura de textiles de hilo de algodón.
              </p>
          </details>
          <details>
            <summary><ion-icon name="triangle-outline"></ion-icon>San Bartolo Coyotepec<br> Parada: 35 minutos</summary>
              <p>
                <ion-icon name="logo-ionic"></ion-icon>Visitamos con nuestro guía, la casa-taller de un maestro artesano de piezas y figuras de barro negro para que nos haga una demostración y platique el proceso e historia de estas hermosas figuras artesanales.
              </p>
          </details>
        </p>
    </details>
    <details>
      <summary><h4>Galeria</h4></summary>
        <a href="https://www.minube.com.mx/fotos/monte-alban-c403616#">Monte Albán</a>
          <br>
          <section>
            <img src="https://photo980x880.mnstatic.com/2dbc4883a6285209ada82d6e47cd2765/zona-arqueologica-de-monte-alban-7571088.jpg">
            <img src="https://photo980x880.mnstatic.com/b2dea5d7400eea8eb58041730704840a/zona-arqueologica-de-monte-alban-3412131.jpg">
            <img src="https://images.mnstatic.com/f4/d8/f4d844c35d62aa3325a5e756cad3f804.jpg?quality=75&format=pjpg&height=300&fit=crop">
            <img src="https://images.mnstatic.com/9c/e1/9ce1c61162222628efbc19ce09f146fc.jpg?quality=75&format=pjpg&height=300&fit=crop">
            <img src="https://images.mnstatic.com/8e/3f/8e3f15eb739a11db547a25d890219d61.jpg?quality=75&format=pjpg&height=300&fit=crop">
          </section>
          <br>
          <a href="https://www.viveoaxaca.org/2021/01/Arrazola.html">San Antonio Arrazola</a>
          <br>
          <section>
            <img src="https://1.bp.blogspot.com/-vXUz97kqirA/YBMr_xfcqlI/AAAAAAAALc8/0y4wCqUjYM0iUE4H8-DQ1MY4aZSGnwKBgCLcBGAsYHQ/w400-h266/turismo%2Ben%2Boaxaca%2Barrazola%2Balebrijes-3.jpg">
            <img src="https://1.bp.blogspot.com/-Bq-5yzhegZg/YBMqr-2MdyI/AAAAAAAALbk/IIdYba61u74VdVjFh57RxEhu2IHT2sQXQCLcBGAsYHQ/s320/turismo%2Ben%2Boaxaca%2Barrazola%2Balebrijes-12.jpg">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoceVUb3K9qXN5vFLGqfbTxIIVr0JE9_YTqA&usqp=CAU">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUBB34p3HDHVIqZgKtTfrnYJ4Ws5RNbe4u2Q&usqp=CAU">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwCZC1rWvkBSiAj43IhRlv06Z7fZBFEW69kA&usqp=CAU">
          </section>
          

        
  </details>
  <br>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1907.2793160218635!2d-96.76824468311551!3d17.045306273765554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c7188c38448045%3A0x3e8641844c5f6904!2sMonte%20Alb%C3%A1n%2C%20Oax.!5e0!3m2!1ses!2smx!4v1674684633873!5m2!1ses!2smx" width="80%" height="50%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="ion-margin"></iframe>

</ion-content>
