p{
    margin-left: 5%;
    margin-right: 5%;
    font-style: oblique;
    font-size: 85%;
    color: #FFD700;
    line-height: 1.5em;
    font: Didot;
    text-align: justify;
}
a{
    margin-left: 5%;
    margin-right: 5%;
    font-style: oblique;
    font-size: 70%;
    color: #FFD700;
    line-height: 1.5em;
    font: Didot;
    text-align: justify;
}